In [1]:
import pandas as pd
csv_file = "Fear-and-Greed-Sentiment.csv"

#Read in File data and store into Pandas data frame
FnG_df = pd.read_csv(csv_file)
FnG_df.head(10)

         Date  Fear and Greed Index      Sentiment
0  2021-04-01                    74          Greed
1  2021-03-31                    76  Extreme Greed
2  2021-03-30                    72          Greed
3  2021-03-29                    72          Greed
4  2021-03-28                    74          Greed
5  2021-03-27                    65          Greed
6  2021-03-26                    54        Neutral
7  2021-03-25                    60          Greed
8  2021-03-24                    65          Greed
9  2021-03-23                    66          Greed

In [2]:
#Change Date to datetime data type, Index to Integer, Sentiment to string
FnG_df['Date'] = pd.to_datetime(FnG_df['Date'])
FnG_df['Fear and Greed Index'] = pd.to_numeric(FnG_df['Fear and Greed Index'])
FnG_df['Sentiment'] = FnG_df['Sentiment'].astype('string')

#Check data types to confirm that date = datetime & all others are floats
FnG_df.dtypes

Date                    datetime64[ns]
Fear and Greed Index             int64
Sentiment                       string
dtype: object

In [3]:
#Drop NaNs
FnG_df = FnG_df.dropna()

In [4]:
#Check that all NaNs were dropped
rows_with_nan = []
for index, row in FnG_df.iterrows():
    is_nan_series = row.isnull()
    if is_nan_series.any():
        rows_with_nan.append(index)

print(rows_with_nan)

[]

In [5]:
#Sort Date values then set date as index

FnG_df = FnG_df.sort_values(by='Date')
FnG_df = FnG_df.set_index('Date')
FnG_df.head(20)

            Fear and Greed Index     Sentiment
Date
2018-04-01                    16  Extreme Fear
2018-04-02                    11  Extreme Fear
2018-04-03                    22  Extreme Fear
2018-04-04                    22  Extreme Fear
2018-04-05                    17  Extreme Fear
2018-04-06                    19  Extreme Fear
2018-04-07                    20  Extreme Fear
2018-04-08                    17  Extreme Fear
2018-04-09                    21  Extreme Fear
2018-04-10                    18  Extreme Fear
2018-04-11                    20  Extreme Fear
2018-04-12                    18  Extreme Fear
2018-04-13                    23  Extreme Fear
2018-04-17                    26          Fear
2018-04-18                    24  Extreme Fear
2018-04-19                    25  Extreme Fear
2018-04-20                    26          Fear
2018-04-21                    32          Fear
2018-04-22                    31          Fear
2018-04-23                    28          Fear

In [6]:
#Introduce new dataframe of only the dates desired
FnG_df = pd.DataFrame(FnG_df.loc['2018-04-02':'2021-04-01'])
FnG_df

            Fear and Greed Index      Sentiment
Date
2018-04-02                    11   Extreme Fear
2018-04-03                    22   Extreme Fear
2018-04-04                    22   Extreme Fear
2018-04-05                    17   Extreme Fear
2018-04-06                    19   Extreme Fear
...                          ...            ...
2021-03-28                    74          Greed
2021-03-29                    72          Greed
2021-03-30                    72          Greed
2021-03-31                    76  Extreme Greed
2021-04-01                    74          Greed

[1093 rows x 2 columns]

In [7]:
#Export to CSV
FnG_df.to_csv('clean_Fear-and-Greed-Sentiment.csv')